/* Estilizando a scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor do fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Cor do "polegar" da barra */
  border-radius: 5px; /* Deixa o "polegar" arredondado */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor ao passar o mouse no "polegar" */
}

/* Removendo o movimento lateral da página */
html,
body {
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box; /* Evita que margens e paddings aumentem a largura */
  max-width: 100%; /* Impede que elementos ultrapassem a largura da tela */
}
