.propagandas {
  margin-top: 80px;
  overflow: hidden;
  width: 100%;
  height: 500px;
  position: relative;
}

.carousel {
  display: flex;
  width: 100%;
  height: 100%;
}

.propaganda {
  min-width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.propaganda img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Seção produtos */
.container-produtos {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100vw;
}

.text-prod {
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}

.categorias {
  margin-top: 20px;
  border-bottom: 2px solid goldenrod;
  border-top: 2px solid goldenrod;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto; /* Adiciona rolagem horizontal */
  overflow-y: hidden; /* Remove rolagem vertical */
  scroll-behavior: smooth; /* Rola suavemente */
  -ms-overflow-style: none; /* Remove a barra de rolagem no IE e Edge */
  scrollbar-width: none; /* Remove a barra de rolagem no Firefox */
}

.categorias label {
  border-radius: 20px;
  padding: 5px 10px;
  margin: 0 10px; /* Espaçamento entre as labels */
  white-space: nowrap; /* Impede quebra de linha no conteúdo */
  width: 300px;
  text-align: center;
}

.categorias label a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 20px;
}

.categorias label:hover {
  color: goldenrod;
  transform: scale(1.08);
  border: 1px solid goldenrod;
  box-shadow: 0px 0px 10px gold;
}
.checked {
  color: goldenrod;
  transform: scale(1.08);
  border: 1px solid goldenrod;
  box-shadow: 0px 0px 10px gold;
}

.categorias label:hover a {
  color: goldenrod;
}

.produtos {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}

.card-produto {
  width: 23%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  box-shadow: 5px 5px 10px black;
}

.imagem-card {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.imagem-card img {
  width: 80%;
  max-height: 300px;
  min-width: 80%;
}

.lista-produtos {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
}

.lista-produtos div {
  margin-top: -10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  background-color: rgba(209, 209, 205, 0.209);
  line-height: 0.3;
  border-radius: 10px;
}

.lista-produtos div h4 {
  margin-top: 0;
}

.lista-produtos div p {
  margin-top: 0;
}

.lista-produtos button {
  font-size: 15px;
  width: 100%;
  height: 35px;
  background-color: rgb(93, 232, 107);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.lista-produtos button:hover {
  transform: scale(1.05);
  background-color: rgb(73, 211, 87);
}

.btn-comprar {
  border-radius: 0 0 10px 10px;
}

#fundoPreto {
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.807);
  top: 0;
}
#ProdDetails {
  border-radius: 2px;
  border: 5px solid goldenrod;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 80%;
  width: 80%;
  background-color: white;
  top: 17%;
  left: 12%;
  align-items: center;
  padding: 10px;
  contain: content;
}

.imgProd {
  width: 40%;
  display: flex;
}
.imgProd img {
  height: 100%;
}
.DIVProd {
  border: 1px solid rgb(224, 193, 19);
  display: flex;
  gap: 5px;
}
.infoProduto {
  padding: 10px;

  width: 100%;
  height: 100%;
}

.infoProduto h2 {
  display: flex;
  justify-content: center;

  color: rgb(13, 13, 13);
}
.infoProduto h3 {
  display: flex;
  font-size: 20px;

  color: rgb(9, 9, 9);
}
.infoProduto span {
  color: rgb(78, 159, 196);
}
.infoProduto p {
  font-weight: 700;
  color: rgb(133, 129, 129);
}
.infoProduto p span {
  color: rgb(78, 159, 196);
}
.infoProduto h3 span {
  color: rgb(78, 159, 196);
}

.NavProd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
